@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

/* body {
  background-image: url("./img/bg.jpg");
  background-color: #ffffff;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
} */

/* splash screen begins */

#splash {
  transition: opacity 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 2;
}

#splash img {
  width: 100vw;
  height: 100vh;
}

#splash.fade {
  opacity: 0;
  display: none;
}

.carousel {
  max-height: 1300px !important;
}

.carousel-item {
  height: 1200px;
}

/* .carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
} */
/* .profile {
  width: 300px;
  height: 400px;
  object-fit: cover;
} */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.wrapper .our_team {
  margin-top: 40px;
  margin-left: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /* grid-template-rows: repeat(3, 400px); */
  justify-content: center;
}

.wrapper .our_team .team {
  width: 200px;
  height: auto;
  margin: 10px;
  position: relative;
}

.wrapper .our_team .team img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.wrapper .our_team .team .team_role {
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.wrapper .our_team .team_1 .team_role,
.wrapper .our_team .team_1 .menu,
.wrapper .our_team .team_1 .info {
  background: #1abc9c;
}

.wrapper .our_team .team_2 .team_role,
.wrapper .our_team .team_2 .menu,
.wrapper .our_team .team_2 .info {
  background: #3498db;
}

.wrapper .our_team .team_3 .team_role,
.wrapper .our_team .team_3 .menu,
.wrapper .our_team .team_3 .info {
  background: #000000;
}

.wrapper .our_team .team_4 .team_role,
.wrapper .our_team .team_4 .menu,
.wrapper .our_team .team_4 .info {
  background: #e74c3c;
}

.wrapper .our_team .team_5 .team_role,
.wrapper .our_team .team_5 .menu,
.wrapper .our_team .team_5 .info {
  background: grey;
}

.menu {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.menu > div {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu > div:first-child {
  top: 25%;
}

.menu > div:last-child {
  top: 75%;
}

.info {
  position: absolute;
  top: 70px;
  right: 5px;
  width: 180px;
  background: red;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
  color: #fff;
  display: none;
}

.info h4 {
  margin-bottom: 15px;
}

.info p {
  font-size: 12px;
  line-height: 20px;
  color: #323139;
}

.info:before {
  content: "";
  position: absolute;
  top: -19px;
  right: 6px;
  border: 10px solid;
}

.wrapper .our_team .team_1 .info:before {
  border-color: transparent transparent #1abc9c transparent;
}

.wrapper .our_team .team_2 .info:before {
  border-color: transparent transparent #3498db transparent;
}

.wrapper .our_team .team_3 .info:before {
  border-color: transparent transparent #9b59b6 transparent;
}

.wrapper .our_team .team_4 .info:before {
  border-color: transparent transparent #e74c3c transparent;
}

.menu.active + .info {
  display: block;
}
